---
Checks: >
  cert-*,
  cppcoreguidelines-*
  modernize-*,
  performance-*,
  misc-include-cleaner,
  misc-const-correctness,
  misc-redundant-expression,
  misc-definitions-in-headers,
  -clang-analyzer-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*(_deps|build)).*/(core|cli|tests)/.*'
SystemHeaders: false
